body{
    background-color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.no_link {
    text-decoration: none;
}

.fundo {
    background-color: rgb(2, 1, 0);
    width: 100%;
    background-image: url('Back_ground_pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.fundoTexto {
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    position: relative;
    text-align: start;
}

.butom {
    color: seashell;
    font-size: 1em;
    font-weight: 600;
    background-color: rgb(2, 1, 0);
    padding: 5px 10px;
    line-height: 2em;
    margin: 1.0em, 0, 07em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    margin-left: 4em;
}

h2, h3, h4, h5, h6, ul, p {
    margin-left: 4em;
    margin-right: 4em;
}



.text_align {
    text-align: right;
}

.italico {
    font-style: italic;
}

.tam_hab1 {
    font-size: 1em;
}

.tam_hab2 {
    font-size: 0.95em;
}

.tam_hab3 {
    font-size: 0.8em;
}

ul {
    list-style-type: circle;
}

header nav {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
}

.menu {
    
}

nav.menu {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: static;
    background-color: black;
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    border-style: solid;
}

.sideOfPicture
{
    display: inline-block;
    vertical-align: middle;
}
.imagem {
    border-radius: 10px;
    width: 40%;
}
.descriptionPerson
{
    width: 50%;
}